.container {
  /* Base */
  @apply pt-6 h-full;

  /* Desktop */
  @apply md:pb-6;
}

.scroll-container {
  min-height: 100%;
  margin-bottom: -56px;
}

.scroll-container::after {
  content: '';
  display: block;
}
