.pdp {
  width: 100%;
  background-color: #F7F7F7;
  margin-top: 32px;
  padding: 16px;
}
.pdp__title {
  font-size: 16px;
  color: #333;
  padding-bottom: 8px;
}
.pdp__img {
  width: 300px;
  height: 300px;
  background-color: red;
}
